/* admin panle page  */
.admin-panel-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.admin-panel-card {
	width: 8rem;
	height: 8rem;
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	color: white;
	cursor: pointer;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.report {
	background-image: linear-gradient(60deg, #fdc830, #f37335);
}

.post {
	background-image: linear-gradient(60deg, #8360c3, #2ebf91);
}

.comments {
	background-image: linear-gradient(60deg, #da4453, #89216b);
}
