.profileinfo {
	/* height: 15rem; */
	/* border:2px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* opacity: 0.2; */
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0rem;
}

.profile_img {
	width: 7rem;
	height: 7rem;
}

.profile_img > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin: auto;
}

.username {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	color: white;
}

.follow {
	padding: 0.2rem 2rem;
	border-radius: 1.2rem;
}

.follow-container {
	font-size: 1.2rem;
}

.follow-container > span {
	color: white;
}

.follow-container > span:first-child {
	margin-right: 1rem;
}

/* use for video and about botton */
.vid_abt {
	/* margin: 1rem 0rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	/* border-bottom: 0.1rem solid rgb(204, 202, 202); */
	background-color: white;
	margin: 0.5rem 0rem;
}

.vid_abt > button {
	margin-top: 0.5rem;
	border: none;
}
