@import 'reset.css';
@import 'card.css';
@import 'setting.css';
@import 'navbar.css';
@import 'upload.css';
@import 'autocomplete.css';
@import 'adminPanel.css';
@import 'profile.css';

/* index for timeline */
.index {
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	/*flex-direction: column;*/
}

.timeline {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

/* hide, show and disable reusable code  */
.hide {
	display: none !important;
}

.show {
	display: block;
}
.disable {
	pointer-events: none;
	opacity: 0.6;
}
