@import 'reset.css';
@import 'card.css';
@import 'setting.css';
@import 'navbar.css';
@import 'upload.css';
@import 'autocomplete.css';
@import 'adminPanel.css';
@import 'profile.css';
@import 'loader.css';
@import 'player.css';
@import 'comment.css';

/* index for timeline */
.index {
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	/*flex-direction: column;*/
}

.timeline {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

/* hide, show and disable reusable code  */
.hide {
	display: none !important;
}

.show {
	display: block;
}
.disable {
	pointer-events: none;
	opacity: 0.6;
}

.modal-content {
	height: 60%;
	width: 50%;
	display: flex;
	justify-content: center;
}

.foot {
	position: absolute;
	bottom: 100%;
	/* top: 0;
	left: 0;
	right: 0; */
	width: 100%;
	height: 5rem;
}
