* {
	/* border: 2px solid green; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 254);
	/* position: relative; */
}

.menubar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	background-color: hsl(171, 100%, 41%);
}

.search {
	border-radius: 10px;
	outline: none;
	border-width: 0;
	padding: 0.2rem;
	font-size: 1rem;
}

.con {
	display: flex;
	justify-content: space-between;
	/* width: 7rem; */
}

.con > div:first-child {
	margin-right: 1rem;
}

.icon {
	height: 2.7rem;
	width: 2.7rem;
}

.icon > img {
	width: 100%;
	height: 100%;
}
.disable {
	pointer-events: none;
	opacity: 0.6;
}
.profileinfo {
	/* height: 15rem; */
	/* border:2px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* opacity: 0.2; */
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0rem;
}

.profile_img {
	width: 7rem;
	height: 7rem;
}

.profile_img > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin: auto;
}

.username {
	display: flex;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
	color: white;
}

.follow {
	padding: 0.2rem 2rem;
	border-radius: 1.2rem;
}

.follow-container {
	font-size: 1.2rem;
}

.follow-container > span {
	color: white;
}

.follow-container > span:first-child {
	margin-right: 1rem;
}

.vid_abt {
	/* margin: 1rem 0rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	/* border-bottom: 0.1rem solid rgb(204, 202, 202); */
	background-color: white;
	margin: 0.5rem 0rem;
}

.vid_abt > button {
	margin-top: 0.5rem;
	border: none;
}

.index {
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	/*flex-direction: column;*/
}

.card {
	margin: 1rem;
	/*max-width: 1rem;*/
	/*max-height: 10rem;*/
}

.video_container {
	width: 100%;
	height: 17.5rem;
}

.video {
	width: 100%;
	height: 100%;
}

.card {
	width: 25rem;
}

.post_icon {
	margin: 0.4rem;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

/* setting lable */

.setting_lable {
	margin: 1rem 0rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
}

.setting_center_container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.setting_elements_margin {
	margin-bottom: 1rem;
}

.setting_image_overlay {
	position: relative;
}

.setting_overlay_icon {
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, 0%);
	color: orange;
}

.setting_user_profile img {
	width: 100%;
	height: 100%;
	background-color: aqua;
	opacity: 0.8;
}

.timeline {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.autocomplete {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	top: 10%;
	z-index: 2;
	background-color: pink;
}
.result {
	width: 50%;
	display: flex;
	justify-content: center;
}

.dropdown-menu {
	width: 100%;
}

.admin-panel-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.admin-panel-card {
	width: 8rem;
	height: 8rem;
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	color: white;
	cursor: pointer;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.report {
	background-image: linear-gradient(60deg, #fdc830, #f37335);
}

.post {
	background-image: linear-gradient(60deg, #8360c3, #2ebf91);
}

.comments {
	background-image: linear-gradient(60deg, #da4453, #89216b);
}
